<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0 ) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">Order Id: # <%= order._id.toString() %></li>
                        <% order.products.forEach(p => { %>
                            <ul class="orders__products">
                                <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                            </ul>
                        <% });%>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>